// Variables
// ---------------------------------------/

$container-width: 980px !default;
$grid-gutter:     10px !default;

// Colors
$white:             #fff;
$black:             #333;

// Styles
$text_color:        $black;

// Font stack
$body-font: sans-serif !default;

// The base body size
$body-font-size: 13px !default;

// Monospace font stack
$mono-font: monospace !default;
